:root {
    /* Fondos */
    --background: #050505;
    --background-secondary: #111111;
    --surface: #1A1A1A;

    /* Bordes */
    --border: #2D2D2D;

    /* Texto */
    --text: #F2F2F2;
    --text-secondary: #9E9E9E;

    /* Colores principales */
    --primary: #8B0000;
    --primary-hover: #C1121F;

    /* Extras */
    --accent: #B8B8B8;
    --shadow: #000000;

    --font-title: "Swiss 911 Compressed", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
    --font-subtitle: "Times New Roman", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background);
    width: 100%;
}

header {
    background-color: var(--background-secondary);
    display: flex;
    color: var(--text);
    justify-content: space-between;
    height: 80px;
    /* Corregido de 70%px */
    align-items: center;
    padding: 0 5%;
    /* 5% de espacio interno a los lados */
    letter-spacing: 1px;
    /* Corregido de % */
}

.titulos {
    font-size: 290%;
    color: var(--text);
    font-family: var(--font-subtitle);
}

a {
    text-decoration: none;
    color: var(--border);
    font-size: 190%;
    transition: all 0.5s ease;
    font-family: var(--font-subtitle);
}

a:hover {
    color: var(--text);
    text-shadow: 1px 1px 5px var(--background-secondary);
    /* Corregido de % */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* Corregido de 300% */
    color: var(--primary-hover);
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#only {
    font-size: 300%;
    color: var(--primary-hover);
    font-family: var(--font-subtitle);
    padding: 20px 40px;
    /* Cambiado a px para mejor control */
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%);
}

main {
    margin: 0% 10% 0% 10%;
    background-color: var(--surface);
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 30%;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.tarjetas {
    border: var(--primary) solid 2px;
    background-color: #2D2D2D;
    color: var(--text);
    height: 100%;
    /* Altura fija para que contenga el diseño */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 20%;
}