body{
    background-image: url('../images/join.gif');
    background-size: 200px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.9);

    height: fit-content;
}
svg{color: aliceblue;transition: all 0.5s ease;}
header{color: aliceblue;text-align: center;margin: 5%;font-size: 300%;transition: all 0.5s ease;}

span{transition: all 0.5s ease ;}
header:hover{color:  chartreuse;}
nav{display:flex; justify-content: center;color: aliceblue;font-size: 180%;flex-direction: column;align-items: center;}
span:hover{color: chartreuse ;}
#ingr{background-color: transparent;height: 40px;width: 185px;border: none;font-size: 30px;color: aliceblue;transition: all 0.5s ease;justify-content: center;align-items: center;text-align: center;}  
#ingr:hover{transform: scale(1.09);cursor: pointer;color: chartreuse;border: 2px aliceblue solid;} 
.ingresos{height: 28px;}
svg:hover{color: chartreuse;}